version: "3.9"

services:
  app:
    build: .
    ports:
      - "8083:8080"

    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: hazoe
    expose:
      - "5432"

