version: "3.9"

services:
  app:
    build: .
    ports:
      - "8083:8080"
    depends_on:
      - db
    networks:
      - my-network

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: hazoe
    expose:
      - "5432"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge

