version: "3.9"

services:
  app:
    build: .
    ports:
      - "8083:8080"
    depends_on:
      db:
          condition: service_healthy
    networks:
      - my-network

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: hazoe
    expose:
      - "5432"
    networks:
      - my-network
    volumes:
      - db-data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d hazoe" ]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  my-network:
    driver: bridge

volumes:
  db-data:


